body{
  background:
    url(../img/cartoon-man.png) no-repeat -8em 30em,left fixed / 30%,
    url(../img/img1.jpg) no-repeat center fixed / cover;
}

.speech {
  position: relative;
  width: 30em;
  height: 20em;
  text-align: center;
  line-height: 10em;
  background-color: #fff;
  border: .8em solid #666;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
  -webkit-box-shadow: .2em .2em .4em #888;
  -moz-box-shadow: .2em .2em .4em #888;
  box-shadow: .2em .2em .4em #888;
  margin-top: 3em;
  margin-left: 4em;
}

.square {
  float :left;
  position:relative;
  width:15%;
  padding-bottom:10%;
  margin:.5%;
  background-color:#e3dede;
  overflow:hidden;
  cursor:pointer;
  font-size:.5em;
}

.square:hover {
    background-color: yellow;
}
.content{
  position: absolute;
  height:100%;
  width:100%;
  font-size: 10em;
  color: #ff3399;
  text-align: center;

}

body{
  font-size: 10px;
  background-color:#F8FAFF;
}

.board{
  width: 90%;
  margin-left: 40%;
  margin-top: 16em;
}

.jumbotron h1,
.jumbotron p,
 h2,
 .text-file,
 .select {
  font-family: 'PT Sans', sans-serif;  color:#1f4e5f;
  font-weight: bold;
  text-align: center;
  }

.jumbotron h1 {
  font-size: 7em;
}

.jumbotron p {
  font-size: 2em;
}

.jumbotron{
    background-color: rgba(31, 223, 231, .2);
    background: -webkit-linear-gradient(rgba(31, 223, 231, 1), rgba(31, 223, 231, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(31, 223, 231, 1), rgba(31, 223, 231, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(31, 223, 231, 1), rgba(31, 223, 231, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(31, 223, 231, 1), rgba(31, 223, 231, 0)); /* Standard syntax */
}

.center{
  padding-left: 10%;
}

 {
  font-size: 1.3em;
  text-align: center;
}

#file-input {
  display: none;
}

.modal-dialog {
  width: 75%;
  height: 75%;
  margin: 1 auto;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 75%;
  border-radius: 5px;
}

.modal-body {
  margin: 0;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.table {
    display: table;
    height:100%;
    width:100%;
}
.table-cell{
    display: table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

.modal-dialog {
  width: 75%;
  height: 75%;
  margin: 1 auto;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 75%;
  border-radius: 5px;
}

.modal-body {
  margin: 0;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
