/*This file is for your custom css.  All yours*/
.board-container {
  margin: auto;
}

.square {
  float :left;
  position:relative;
  width:15%;
  padding-bottom:10%;
  margin:.5%;
  background-color:#e3dede;
  overflow:hidden;
  cursor:pointer;
  font-size:.5em;
}

.square:hover {
    background-color: yellow;
}
.content{
  /*position: absolute;*/
  height:100%;
  width:100%;
  font-size: 5em;
  color: #ff3399;
  text-align: center;

}

body{
  font-size: 10px;
  background-color:#F8FAFF;
}

.board{
  width: 90%;
  margin-left: auto;
}

.jumbotron{
  background-color:#D8E6E7;
  font-family: 'Indie Flower', cursive;
  background-image: url("../img/bingo.png");
  height:250px;
}

h2{
font-family: 'Anton', sans-serif;  color:#8283a7;

}

.jumbotron h1{
  font-size: 70px;

}
.center{
  padding-left: 10%;
}
.header{
  font-size: 30px;
  font-family: 'Candal', sans-serif;
  color:#2E294E;
}
.text-file{
  font-size: 1.3em;
}

.select{
  font-size: 1.3em;
}
